# Ignore all .exe files
*.exe

# Ignore all .txt files
*.txt
html/_custode_8c_source.html
html/_nomaan_8c_source.html
html/annotated_dup.js
html/annotated.html
html/category__item_8c_source.html
html/classes.html
html/clipboard.js
html/cookie.js
html/doxygen_crawl.html
html/doxygen.css
html/doxygen.svg
html/dynsections.js
html/files_dup.js
html/files.html
html/index.html
html/jquery.js
html/md__r_e_a_d_m_e.html
html/menu.js
html/menudata.js
html/navtree.css
html/navtree.js
html/navtreedata.js
html/navtreeindex0.js
html/pages.html
html/struct_admin-members.html
html/struct_admin.html
html/struct_booking-members.html
html/struct_booking.html
html/struct_category-members.html
html/struct_category.html
html/struct_item-members.html
html/struct_item.html
html/struct_route-members.html
html/struct_route.html
html/struct_stock_transaction-members.html
html/struct_stock_transaction.html
html/struct_transaction-members.html
html/struct_transaction.html
html/struct_trip-members.html
html/struct_trip.html
html/struct_user-members.html
html/struct_user.html
html/struct_vehicle-members.html
html/struct_vehicle.html
html/tabs.css
html/search/all_0.js
html/search/all_1.js
html/search/all_2.js
html/search/all_3.js
html/search/all_4.js
html/search/all_5.js
html/search/all_6.js
html/search/all_7.js
html/search/all_8.js
html/search/classes_0.js
html/search/classes_1.js
html/search/classes_2.js
html/search/classes_3.js
html/search/classes_4.js
html/search/classes_5.js
html/search/classes_6.js
html/search/classes_7.js
html/search/classes_8.js
html/search/pages_0.js
html/search/search.css
html/search/search.js
html/search/searchdata.js
latex/_custode_8c_source.tex
latex/_nomaan_8c_source.tex
latex/annotated.tex
latex/category__item_8c_source.tex
latex/doxygen.sty
latex/etoc_doxygen.sty
latex/files.tex
latex/make.bat
latex/Makefile
latex/md__r_e_a_d_m_e.tex
latex/refman.tex
latex/struct_admin.tex
latex/struct_booking.tex
latex/struct_category.tex
latex/struct_item.tex
latex/struct_route.tex
latex/struct_stock_transaction.tex
latex/struct_transaction.tex
latex/struct_trip.tex
latex/struct_user.tex
latex/struct_vehicle.tex
